*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #1e202b;
    color: #bfc1c8;
}

/* start nav */
nav{
    background-color: #1e202b;
}
nav small{
    font-size: 10px;
    display: block;
    color: #bfc1c8;
}
nav ul li .active {
    padding: 5px 25px !important;
    border: 2px solid #009ad8 !important;
    border-radius: 30px;
    color: #009ad8 !important;
}

nav ul li a {
    padding: 5px 25px !important;
    border: 2px solid #1e202b !important;
    border-radius: 30px;
    font-size: 14px;
    color: #fff !important;
    transition: all .5s !important;
}
nav ul li a:hover{
  border-color: #009ad8 !important;
  color: #009ad8 !important;
}


a:focus {
    outline: thin dotted;
    /* border: 1px dotted yellow; */
  }
  
  /* ////// */
  section{
    background:url(../image/banner.png) ;
    /* height: 50vh; */
    background-repeat: no-repeat;
  }
 form .search{
    width: 100% !important;
    padding: 15px;
    border-radius: 30px;
    background-color: #1e202b;
    border: none;
    color: #fff !important;
  }
  form .search:focus{
    background-color: #1e202b;
  }
  ::placeholder{
    color: #bfc1c8 !important;
  }
  form .submit {
    right: 6px;
    top: 8%;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #009ad8;
    color: #fff;
    
  }
  .col-md-4 {
    background: #323544;
    /* background-color: #262936; */
    color: #bfc1c8;
  }
  .col-md-4:nth-child(2){
     background-color: #262936;
  }
  .title{
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    font-weight: 400;
  }
  .row .current .degre .img img {
    width: 100px !important;
  }
  .row .current .degre .num  {
    font-size: 90px;
    font-weight: 700;
    color: #fff;
  }
  .row .current .degre sub{
    top: -35px;
  }
  .row  .coustm {
    color: #009ad8;
    margin: 20px 0px;
  }
  .row .current span{
    margin-right: 20px;
  }
  .row .current span img{
    margin-right: 5px;
  }
  .row .content{
    padding: 50px 20px 10px;
  }
  .row .content .degre1{
    font-size: 24px;
    color: white;
    font-weight: 700;
  }
  .row .content .degre1 sub{
    top: -10px;
  }
  .row .content sub{
    top: -5px;
  }


  footer{
    background: #262936;
    color: #bfc1c8;
  }

  footer .icon-links{
    width: 40px;
    height: 40px;
    background: #1e202b;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: all 0.3s;
  }
  footer .icon-links:focus{
    outline: thin dotted;
  }
  footer .icon-links i {
    font-size: 18px;
    transition: all 0.3s;
  }
  footer .icon-links:hover{
    background-color: #009ad8;
  }
  footer .icon-links:hover i{
    color: #fff;
  }
  /* .col-md-5{
    background-color: #262936;
  } */
  .crump{
    background-color: #262936;
    padding: 20px 30px;
    border-radius: 30px;
    color:#bfc1c8 !important;
  }
  .contact-details{
    background: #262936;
  }
  address{
    padding-top: 150px;
  }
  address img{
    margin-right: 12px;
    height: 25px;
  }

  .row .contact-info a{
    color: #bfc1c8;
    margin-right: 10px;
  }
  .row .contact-info a img{
    margin-right: 10px;
  }
  .col-md-6 p{
    font-size: 14px;
  }
  .col-md-6 .row input {
    padding: 15px;
    border-radius: 25px;
    border: 2px solid #393c48;
  }
  .col-md-6 .row input:focus{
    border-color: #009ad8;
  }
  .col-md-6 .row input:hover{
    border-color: #009ad8;
  }
  .col-md-6 textarea{
    padding: 15px;
    border-radius: 25px;
    border: 2px solid #393c48;
    min-height: 150px;
  }
  .col-md-6 .row textarea:hover{
    border-color: #009ad8;
  }
  form .row .text-end input{
    border: none;
    background: #009ad8;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;

  }
